<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MCJSActive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>412D9BFB1DF14511004E62CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412D9C141DF14511004E62CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412D9C1F1DF14511004E62CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
